@import 'base/_reset';
@import 'base/_helpers';

@import 'generics/_settings';

@import 'partials/_oup-ny-typography';
@import 'generics/_page-ui';

@import 'generics/_banner-structure';

@import 'courses/_od';
@import 'courses/_faf2e';
@import 'courses/_faf2e-ksa';
@import 'courses/exp';
@import 'courses/_ss';
@import 'courses/eu2e';
@import 'courses/so';

@import 'courses/_t2t';
@import 'courses/_eng';

@import 'courses/elm';
@import 'courses/_q2e';
@import 'courses/_ils';
@import 'courses/sc3e';
@import 'courses/hpse';
@import 'courses/has';
@import 'courses/cegep';


body{
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

